.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.loader-text {
  margin-top: 12px;
  font-size: 18px;
  color: #365E3A;
}
